/* styles.css */
/* General Styles */
body {
  background-color: #0a0a0a;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#space {
  background-size: 50%; /* Adjust this value to control the size of the image */
  background-position: center; /* Center the image horizontally */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%; /* Set the width of the container to 100% of its parent */
  height: 300px; /* Set a fixed height for the container, adjust as needed */
  background-image: url('assets/IMG_6701.webp');
}

#space img {
  width: 50%; /* Adjust this value to control the size of the image */
  height: auto;
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}

/* ... and the rest of your styles */
