// Colors
@red: fade(#bb0422, 25%);
@blue: fade(#304f86, 25%);
@black: #2e2e2e;
@grey: #F1F0F4;
@grey-dark: #7A7A7A;
@ice: #FFF;

// Table
@table-width: 800px;
@table-height: 550px;
@table-border: 15px;
@table-border-2x: @table-border * 2;

@line-width: 5px;
@blue-line-pos: 37%;
@circle-center-size: 140px;
@goal-size: 190px;

@table-faceoff-size: 80px;
@table-faceoff-pos: 20%;

* {
	box-sizing: border-box;
}

body {
	background-color: @grey;
	font-family: helvetica;
}

a {
	color: @grey-dark;
	text-decoration: none;
	transition: .3s opacity ease-out;
	
	&:hover,
	&:focus {
		opacity: .6;
	}
}

.circle {
	width: @circle-center-size;
	height: @circle-center-size;
	border-radius: 100%;
	border: @line-width solid @blue;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -(@circle-center-size/2);
	margin-left: -(@circle-center-size/2);
}

// Table
.table {
	width: @table-width;
	height: @table-height;
	margin-top: -(@table-height / 2);			
	margin-left: -(@table-width / 2);
	position: absolute;
	top: 50%;
	left: 50%;
	border: @table-border solid @black;
	border-radius: 70px;
